h3{
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
}

.espaciado{
    padding: 50px;
}

body{
  background: linear-gradient(180deg, #ffcd00 0%, #e97c94 100%);
}

.titulo{
    text-align: center;
    text-decoration: underline;
}
