

#ribbon {
    background-color: rgb(185, 171, 143);
}


/*============= CAROUSEL =============*/

#carousel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

.carousel-inner {
    max-height: 38rem !important;
}

/*-- Carousel Content --*/
.carousel-caption {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.bg-custom {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 1rem;
}

.bg-custom-matricula {
    background-color: rgba(11, 83, 88, 0.4);
    color: white;
    border-radius: 1rem;
}

.carousel-caption h1 {
    font-size: 3.8rem;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .1);
}

.border-primary {
    border-top: .2rem solid #4981b3 !important;
}

.carousel-caption h3 {
    font-size: 2.2rem;
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .1);
}

.btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
}

.btn-danger {
    background-color: #AC2615;
    border: .05rem solid #AC2615;
}

.btn-primary {
    background-color: #4981b3;
    border: .05rem solid #4981b3;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #68a0d2 !important;
    border: .05rem solid #68a0d2 !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators>li {
    border-radius: 100%;
    width: 12px;
    height: 12px;
}

.carousel .carousel-indicators li {
    background-color: rgb(12, 8, 8);
}

.carousel .carousel-indicators li.active {
    background-color: rgb(182, 12, 7);
}

.border-footer{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.p-car-top{
    padding-top: 15px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
/*============= NAVBAR =============*/
